:root {
  background: linear-gradient(135deg, #d9fdd3, #b2e8b0);
  color: #000;
}

body {
  margin: 0;
  min-height: 100vh;

  /* УБИРАЕМ центрирование, которое ломает фон */
  display: block;

  background: inherit;
}

/* ВАЖНО: растягиваем root и делаем прозрачным */
#root {
  width: 100%;
  min-height: 100vh;
  background: transparent !important;
}
